{% extends 'base.html'%} {%import 'macros.html' as macro%} {% block content %}
<div class="container">
    <div class="jumbotron">
        <div class="container" style="margin-left:150px ;">
            <div class="row">
                <div class="col-md-3">
                    <h2 style="text-align: center;"> <strong>{{user.username| capitalize}}</strong> </h2>



                    <div class="thumbnail">
                        {% if user.profile_pic_path %}
                        <!-- <img src="{{url_for( 'static',filename=user.profile_pic_path)}} " alt="profile-pic " class="img-circle "> {%else%} -->
                        <p> no profile picture</p>
                        {% endif %}
                    </div>
                </div>


                <div class="col-md-8" style="margin-top:70px; margin-left:50px;">
                    <p><b>Name:</b> {{user.firstname}} {{user.lastname}} </p>
                    <p> <b> No of pitches:</b> {{pitches_count}}</p>
                    <p> <b>Date joined:</b> {{date}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"> </div>
            <div class="col-md-8 " style="text-align: center; ">
                <h2><b>Your Pitches</b> </h2>
                <hr>
                <span class="card ">{{macro.displayPitches(pitches)}}</span>
            </div>
            <div class="col-md-3"> </div>
        </div>
    </div>

</div>

</div>
<style>
    body {
        background-color: blue;
    }
    
    .jumbotron {
        background-color: rgba(29, 25, 35, 0.6);
    }
</style>

{% endblock %}