{% macro displayPitches(pitches_list)%} {%for pitch in pitches_list%}

<div class="well well-lg">
    <h4>{{pitch.pitch_title}}</h4>
    <p>{{pitch.pitch_content| truncate(100)}}</p>
    <p>Written by: {{pitch.user.username}} <a href="/pitch/{{pitch.id}}" class="btn btn-primary pull-right">Read</a> </p>
</div>
</div>

{%endfor%} {%endmacro%} {%macro displayComments(comments_list)%} {%for comment in comments_list%}

<h5>{{comment.user.username}}</h5>
<p>{{comment.comment}}</p>


{%endfor%} {%endmacro%}